/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #0a192f;
  font-family: Open Sauce, arial, sans-serif;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

.heading {
  font-family: Anton;
}

/* @media (min-width: 1300px) {

  .head-ctn {
    height: 60vh;
  }
} */

.bnbg {
  background-image: url('./images/aire.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 5rem;
  z-index: 1
}

.abcss {
  background-image: url('./images/ab3d.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cerc {
  background-image: url('./images/cercle.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.res svg {
  transition: transform 0.3s;
}

.res svg:hover {
  color: #52eeca;
  transform: translateY(-0.5rem);
}

/* .accordion-section {
  overflow: hidden;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out; Adjust the duration and timing function as needed
}
*/

.open {
  background-color: #112240;
  padding: 0.7rem;
}

.closed {
  max-height: 0;
  transition: all 0.4s ease-out;
}

.conect {
  width: fit-content;
}

.overflow {
  overflow-y: hidden;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.9);
  filter: blur(8px);
}
